body {
   background: url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/580162_522086334507799_152359159_n.jpg?oh=da69b7cc34a6473772ca57c471188ee8&oe=574073B1); 
  
   }

#header{
    background-color: gray;
}
#header img{

    width:60;
    height:60;
}  

#navbar{

    
    position:relative;
    background-color: black;
    padding:5px;
    
}

#navbar ul{

    padding:0px;
    margin:0px;
    list-style-type: none;
}

#navbar ul li {
    font-size: 16px;
    color:white;
    font-family: arial;
    display: inline;
    text-decoration: none;
    margin-right: 10px;
}

#main{
     position:relative;
     width: 1000px;
     height: 300px;
     top:100px;
     background-color:#fdf283;
     
     border-radius: 5px;
     padding: 5px;
     
    
}

#picture img{
    
    position: relative;
    top:50px;
    margin-left:50px;
}

#footer {
 position: relative;
 top:300px;
 background-color:white;
 float:right;
 padding:5px;

}
#footer img{

     width: 50px;
     height:50px;
     
}

a {

    text-decoration: none;
}

   /* Dropdown Button */
.dropbtn {
    
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: ;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
     

}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:

 white;

}

/* Show the dropdown menu (use JS to add this class to the 
	.dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
	background-color: white;
}


