


#circle{

    border-radius: :50% ;
    width:300px;
    height: 300px;

}

#qoute{
    color:white;
    float: right;
    color: #000;
    font-family: "Comic Sans MS", cursive ;
    margin-right: 45px;
    margin-top: 40px;
    font-size: 20px;
}

#qoute h3{
  float: right;
  font-family: 15;
}

#main {
     position:relative;
     width: 1050px;
     height: 320px;
     top:100px;
     background-color:#81858f;
     margin:auto;
     display:block;
     text-align:left;
     border-radius: 5px;
     padding: 10px;
     font-family:sans-serif;
    
}

body{
    
    background:#ebf0fa;

}



#header{
  background-color: gray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, gray, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, gray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, gray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, gray, white); /* Standard syntax */
} 
}

#header img{
    
    margin-left:40px;
    width:125;
    height:65;
    padding:5px;

    
    
}

#footer {
   
   margin-right: auto;
   position: relative;
   top: 17px;
   background-color:#4b4848;
   float:right;
   border-radius: 2px;

}
#footer img{
     margin-left: 20px; 
     width: 30px;
     height:30px;
     
}


/*------------------------------------*/

#navmenu {

      margin:0;
      padding:0;
} 


#navmenu ul {

     margin:0;
     padding:0; 
     line-height:30px;
     z-index: 300;
}

#navmenu {
background: #000;

}

#navmenu li {

    margin:0;
    padding:0;
    list-style: none; 
    float:left;
    position:relative;
    background:#000;

}


#navmenu ul li a {

    text-align: center;
    font-family: "Comic Sans MS", cursive ;
    text-decoration:none; /* unline to the link*/
    height:30px;
    width:150px;
    display:block;
    color:white;
    text-shadow: 1px 1px 1px #000;
    

    /*border:1px solid #FFF
      */
}

 /* function that make dropdown work*/

#navmenu ul ul {

   
    position: absolute;
    visibility:hidden;
    top:30px;

}

/* code that bring back the ul when we click*/

#navmenu ul li:hover ul {
    visibility: visible;

    }


/* style hover effect*/ 
#navmenu li:hover {
   background: #8499b1;

}


/*change hover color in dropdown menu*/

#navmenu ul li:hover ul li a:hover {

    background:#ccc;
    color:#000;
  
 }

 #navmenu a:hover {
   
      color:#000;

 }

 .clearFloat{
      clear:both;
      margin:0;
      padding:0;

 }

 /*----------------------------------------------------------------------------------*/

 /*------ img text on hover(skill)-------*/



  
.imgWrap img{

  width: 100px;
  height: 100px;
  float: right;

}

body {
  font: 14px/1.4 arial;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
  float: right;
  margin-right: 1px;
  margin-bottom: 1px;

}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}


.img-circle {

  position: relative;
  border-radius: 50%;
 margin-right: 20px;

}

#skill {

  width: 600px;
  height: 250px;
  
  float: right;
  position:relative;

}



