body{
	
	background:gray;

}


#navmenu {

      margin:0;
      padding:0;v
} 


#navmenu ul {

	 margin:0;
	 padding:0; 
     line-height:30px;
}

#navmenu li {

	margin:0;
	padding:0;
	list-style: none; 
	float:left;
	position:ralative;

}


#navmenu ul li a {

text-align: center;
font-family: "Comic Sans MS", cursive ;
text-decoration:none;
height:30px;
width:150px;
display:block;
color:#000;
}