body{
	
	background:gray;

}


#navmenu {

      margin:0;
      padding:0;
} 


#navmenu ul {

	 margin:0;
	 padding:0; 
     line-height:30px;
}

#navmenu li {

	margin:0;
	padding:0;
	list-style: none; 
	float:left;
	position:relative;
	background:#000;

}


#navmenu ul li a {

    text-align: center;
    font-family: "Comic Sans MS", cursive ;
    text-decoration:none; /* unline to the link*/
    height:30px;
    width:150px;
    display:block;
    color:white;
}

 /* function that make dropdown work*/

#navmenu ul ul {

	position: absolute;
	visibility:hidden;
	top:30px;

}

/* code that bring back the ul when we click*/

#navmenu ul li:hover ul {
	visibility: visible;
	}


/* style hover effect*/	
#navmenu li:hover {
   background: #8499b1;

}