body {
   background: Black; 
   text-align: center;
   }
   
   

   
 li {
	 color:White;
	 display:inline;
	 position: relative;
	 top:80px;
	 font-size:18px;
	 font-family:Arial;
	 margin:60px;
	 border:1px solid white;
	 padding:5px 20px 5px 20px;
     border-radius:5px;
 }  

 h1{
	position: relative;
	color:Black;
	text-align:center;
	font-family:Arial;
    	
	
 }
 
 #main {
	
	 position:relative;
	 top:200px;
	 width: 1200px;
	 height: 550px;
	 background-image:url('https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/s960x960/12140997_10153691663823130_979672941352768257_o.jpg');
	 margin:  auto;	
     font-size: 18px;	
	
	 
	 
     	 
 }

 
#bottom  {
	font-family:Arial;
	position:relative;
	color:white;
	bottom:-250px
	

}



 div img {
	 
	 width: 200px;
	 height:200px;
 }
 
 #bottom img {
	 margin:auto;
	 width: 50px;
	 height:50px;
 }
 





.menu ul{

	 border-top:1px solid #636366;
	 list-style: none;
	 margin:0;
	 padding:0;
}

.menu li {
	border-bottom: 1px solid #636366;
	color:white;
	line-height: 45px;
	padding-left: 3px;
	padding-top: 20px;
	padding-bottom: 3px;
}

.menu a {
	color: #fff;
	font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    
    










}



















