body {
   background: Black; 
   text-align: center;
   }
   
   

   
 li {
	 color:White;
	 display:inline;
	 position: relative;
	 top:80px;
	 font-size:18px;
	 font-family:Arial;
	 margin:60px;
	 border:1px solid white;
	 padding:5px 20px 5px 20px;
     border-radius:5px;
 }  

 h1{
	position: relative;
	color:Black;
	text-align:center;
	font-family:Arial;
    	
	
 }
 
 #main {
	
	 position:relative;
	 top:250px;
	 width: 1200px;
	 height: 550px;
	 background-image:url('https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/s960x960/12140997_10153691663823130_979672941352768257_o.jpg');
	 margin:  auto;	
     font-size: 18px;	
	
	 
	 
     	 
 }

 
#bottom  {
	font-family:Arial;
	position:relative;
	color:white;
	bottom:-250px
	

}



 div img {
	 
	 width: 200px;
	 height:200px;
 }
 
 #bottom img {
	 margin:auto;
	 width: 50px;
	 height:50px;
 }
 










	 
.clearfix:after{
	display:block;
	clear:both;
}

/*----- Menu Outline-----*/
.menu-warap {
	 width:100%;

	
}




.menu li {

	
	list-style:none;

}

.menu a {

	transition:all linear 0.15s;
	
}

.menu li:hover > a, .menu .current-item> a {
	text-decoration:none;
	color:#be5b70;

}

/*-----Top Level-----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
}




.menu > ul > li:hover > a, .menu > ul >. current-item > a {
	background:#2e2728;
}

              /*-----To style just the top-level menu we can use the > symbol. 
              It states that only the first child element preceding 
              the parent will get the specified styling.----*/


.menu .arrow {
	font-size:11px;
	line-height:0%;
}

/*-----Bottom Level-----*/

.menu li:hover .sub-menu {

	z-index:1;
	opacity:1;
}

.sub-menu {

	position:absolute;
	top:100%;
	z-index:-1;
	opacity:0;
	transition:opacity liner 0.15s;
	background:#2e2728;

}


 

.sub-menu li {
	display:block;

}sub-menu li a {

	padding:10px 30px;
	display:block;
}


.sub-menu li a {

	padding:10px 30px;
	display:block;
}


.sub-menu li a:hover, .sub-menu .current-item a {

	background:#3e3436;
}

























